@import "../core/_setting.scss";
@import "../core/_reset.scss";
@import "../core/_css3";
@import "../core/_mixin";
@import "../core/_media_queries";
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // -webkit-user-select: none;
}

select,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    -webkit-appearance: none;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    height: 100%;
    background-color: white;
    font-size: 24px;
    overflow: hidden;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.turntable-container {
    position: relative;
    width: 100%;
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-family: $fontInit;
    background: url(../../images/index/main-bg.jpg) no-repeat;
    background-size: cover;
    img {
        width: 100%;
    }
}

.turntable-rule-btn {
    display: block;
    width: rem(136, 24);
    height: rem(48, 24);
    margin: rem(39, 24) rem(30, 24) rem(159, 24) 0;
    text-align: center;
    line-height: rem(48, 24);
    font-size: rem(24, 24);
    color: #fffa56;
    border-radius: rem(5, 24);
    background-color: rgba(0, 0, 0, .3);
    &:link,
    &:active {
        color: #fffa56;
    }
}

.turntable-main-wrap {
    position: relative;
    width: per(568, 750);
    margin: 0 auto;
}

.turntable-wheel-bg {
    position: relative;
    width: 100%;
}

.turntable-wheel-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.turntable-wheel-arrow {
    position: absolute;
    top: rem(-5, 24);
    left: 50%;
    width: per(77, 568);
    margin-left: per(-38.5, 568);
}

.turntable-wheel-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: per(185, 568);
    margin-top: per(-138, 568);
    margin-left: per(-92.5, 568);
    span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.turntable-decorate-wrap {
    position: relative;
    width: 100%;
    margin-top: rem(-320, 24);
}

.turntable-start-btn {
    position: relative;
    display: block;
    width: per(351, 750);
    margin: rem(-120, 24) auto 0;
}

.turntable-btm-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: rem(126, 24);
    background: rgba(0, 0, 0, .5);
}

.turntable-btm-inner {
    width: per(450, 750);
    margin: 0 auto;
    padding-top: rem(33, 24);
    a {
        width: 50%;
    }
    i {
        display: block;
        margin-right: rem(18, 24);
        filter: drop-shadow(0 0 rem(10, 24) rgba(0, 0, 0, .4));
    }
    u {
        margin-top: rem(5, 24);
        line-height: rem(30, 24);
        text-decoration: none;
        color: #f5d851;
    }
    .number {
        font-size: rem(30, 24);
        font-weight: bold;
    }
    .text {
        font-size: rem(22, 24);
    }
}

.turntable-icons {
    background: url(../../images/index/index-icons.png) no-repeat;
    background-size: rem(681, 24) rem(500, 24);
}

.turntable-ticket-btn {
    padding-left: per(17, 450);
    i {
        width: rem(68, 24);
        height: rem(54, 24);
        margin-top: rem(6, 24);
        background-position: rem(-25, 24) rem(-23, 24);
    }
}

.turntable-award-btn {
    padding-left: per(39, 450);
    i {
        width: rem(64, 24);
        height: rem(65, 24);
        background-position: rem(-169, 24) rem(-17, 24);
    }
}

.turntable-dialog-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.turntable-dialog-smBg {
    position: fixed;
    top: 50%;
    left: 50%;
    width: rem(590, 24);
    height: rem(416, 24);
    padding: rem(60, 24) rem(70, 24) 0;
    margin: rem(-208, 24) 0 0 rem(-295, 24);
    text-align: center;
    font-size: rem(28, 24);
    color: #aa5915;
    background: url(../../images/index/dialog-sm-bg.png) no-repeat;
    background-size: rem(590, 24) rem(416, 24);
    filter: drop-shadow(0 0 rem(24, 24) rgba(0, 0, 0, .4));
    p {
        line-height: rem(45, 24);
    }
    b {
        color: #ff0000;
    }
}

.turntable-dialog-title {
    text-align: center;
    font-size: rem(36, 24);
    font-weight: bold;
    color: #aa5915;
}

.turntable-dialog-login {
    margin-top: rem(45, 24);
}

.turntable-dialog-share {
    margin-top: rem(30, 24);
}

.turntable-dialog-btn {
    position: absolute;
    bottom: rem(64, 24);
    left: 50%;
    display: block;
    width: rem(242, 24);
    height: rem(96, 24);
    margin-left: rem(-121, 24);
    text-align: center;
    line-height: rem(96, 24);
    font-size: rem(36, 24);
    font-weight: bold;
    color: white;
    background-position: rem(-396, 24) rem(-377, 24);
    filter: drop-shadow(0 0 rem(10, 24) rgba(0, 0, 0, .2));
    &:link,
    &:hover {
        color: white;
    }
}

// 购买奖券
.turntable-dialog-lgBg {
    position: fixed;
    top: 50%;
    left: 50%;
    width: rem(590, 24);
    height: rem(952, 24);
    padding: rem(65, 24) rem(37, 24) 0;
    margin: rem(-476, 24) 0 0 rem(-295, 24);
    background: url(../../images/index/dialog-lg-bg.png) no-repeat;
    background-size: rem(590, 24) rem(952, 24);
    filter: drop-shadow(0 0 rem(24, 24) rgba(0, 0, 0, .4));
}

.turntable-dialog-head {
    position: absolute;
    top: rem(-46, 24);
    left: 50%;
    width: rem(381, 24);
    height: rem(92, 24);
    margin-left: rem(-190.5, 24);
    text-align: center;
    line-height: rem(67, 24);
    font-size: rem(36, 24);
    font-weight: bold;
    color: #fdf853;
    background-position: rem(-21, 24) rem(-258, 24);
    text-shadow: rem(2, 24) 0 1px #af6334, rem(-2, 24) 0 1px #af6334, 0 rem(2, 24) 1px #af6334, 0 rem(-2, 24) 1px #af6334;
}

.turntable-dialog-close {
    position: absolute;
    top: rem(-9, 24);
    right: rem(-7, 24);
    display: block;
    width: rem(74, 24);
    height: rem(74, 24);
    background-position: rem(-21, 24) rem(-154, 24);
}

.dialog-common-title {
    width: 100%;
    height: rem(119, 24);
    padding: rem(16, 24) 0 0 rem(29, 24);
    margin-bottom: rem(24, 24);
    background: #f6dd98;
    color: #aa5915;
    border-radius: rem(10, 24);
    i {
        filter: drop-shadow(0 0 rem(10, 24) rgba(0, 0, 0, .4));
    }
    b {
        color: #ff0000;
    }
    .title {
        margin: rem(8, 24) 0 rem(5, 24);
        font-size: rem(28, 24);
        font-weight: bold;
    }
    .text {
        font-size: rem(22, 24);
    }
}

.dialog-buy-title {
    i {
        display: block;
        width: rem(84, 24);
        height: rem(84, 24);
        margin-right: rem(22, 24);
        background-position: rem(-130, 24) rem(-144, 24);
    }
}

.dialog-common-list {
    .it {
        position: relative;
        float: left;
        width: 100%;
        height: rem(128, 24);
        padding: rem(8, 24);
        margin-bottom: rem(10, 24);
        border-radius: rem(10, 24);
        background-color: rgba(232, 159, 53, .2);
        box-shadow: 0 rem(3, 24) rem(5, 24) rgba(255, 255, 255, .2) inset, 0 rem(-3, 24) rem(5, 24) rgba(255, 255, 255, .4) inset, 0 rem(3, 24) 1px #ffd483;
    }
    .it-discount {
        .dialog-buy-label {
            background-position: rem(-554, 24) rem(-242, 24);
        }
    }
    .it-recomand {
        .dialog-buy-label {
            background-position: rem(-430, 24) rem(-240, 24);
        }
    }
}

.dialog-buy-label {
    position: absolute;
    top: rem(-8, 24);
    left: rem(-5, 24);
    display: block;
    width: rem(118, 24);
    height: rem(114, 24);
    z-index: 1;
}

.dialog-common-item {
    width: 100%;
    height: 100%;
    background-color: #efc244;
    border-radius: rem(8, 24);
    box-shadow: 0 rem(15, 24) rem(40, 24) rgba(233, 170, 0, .5) inset, rem(10, 24) 0 rem(40, 24) rgba(233, 170, 0, .5) inset;
}

.dialog-buy-item {
    padding: rem(10, 24) rem(38, 24) 0 rem(26, 24);
    i {
        display: block;
        width: rem(76, 24);
        height: rem(61, 24);
        margin: rem(18, 24) rem(18, 24) 0 0;
        background-position: rem(-256, 24) rem(-168, 24);
        filter: drop-shadow(0 0 rem(10, 24) rgba(0, 0, 0, .4));
    }
    b {
        margin-top: rem(20, 24);
        font-size: rem(35, 24);
        color: #ab591f;
    }
    span {
        margin-right: rem(25, 24);
    }
    .buy-btn {
        display: block;
        width: rem(147, 24);
        height: rem(65, 24);
        margin-top: rem(15, 24);
        text-align: center;
        line-height: rem(65, 24);
        color: #f1c83d;
        font-size: rem(36, 24);
        font-weight: bold;
        background-position: rem(-327, 24) rem(-21, 24);
        u {
            margin-right: rem(4, 24);
            font-size: rem(24, 24);
            text-decoration: none;
        }
    }
    .origin-price {
        display: block;
        width: rem(147, 24);
        text-align: center;
        font-size: rem(22, 24);
        color: #ab591f;
        text-decoration: line-through;
    }
}

.dialog-common-list {
    .it-discount {
        .dialog-buy-label {
            background-position: rem(-554, 24) rem(-242, 24);
        }
        .dialog-buy-item {
            .buy-btn {
                margin-top: 0;
            }
        }
    }
    .it-recomand {
        .dialog-buy-label {
            background-position: rem(-430, 24) rem(-240, 24);
        }
    }
}

.turntable-dialog-mdBg {
    position: fixed;
    top: 50%;
    left: 50%;
    width: rem(590, 24);
    height: rem(839, 24);
    padding: rem(65, 24) rem(49, 24) 0;
    margin: rem(-419.5, 24) 0 0 rem(-295, 24);
    background: url(../../images/index/dialog-md-bg.png) no-repeat;
    background-size: rem(590, 24) rem(839, 24);
    filter: drop-shadow(0 0 rem(24, 24) rgba(0, 0, 0, .4));
}

// 游戏规则
.turntable-dialog-rule {
    padding: rem(65, 24) rem(43, 24) 0;
    color: #c15800;
}

.dialog-rule-title {
    margin-bottom: rem(30, 24);
    text-align: center;
    font-size: rem(36, 24);
    font-weight: bold;
}

.dialog-rule-text {
    line-height: rem(44, 24);
    font-size: rem(28, 24);
}

@include max-screen(1024px) {
    html,
    body {
        font-size: 22px;
    }
}

@include min-screen(1024px) {
    html,
    body {
        font-size: 28px;
    }
}

@include max-screen(750px) {
    html,
    body {
        font-size: 22px;
    }
}

@include max-screen(640px) {
    html,
    body {
        font-size: 20px;
    }
}

@include max-screen(480px) {
    html,
    body {
        font-size: 12px;
    }
}

@include max-screen(384px) {
    html,
    body {
        font-size: 12px;
    }
}

@include max-screen(320px) {
    html,
    body {
        font-size: 10px;
    }
    .turntable-decorate-wrap {
        margin-top: rem(-270, 24);
    }
    .turntable-btm-inner {
        width: per(550, 750);
    }
}

@include max-screen-height(480px) {
    .turntable-rule-btn {
        margin: rem(39, 24) rem(30, 24) rem(30, 24) 0;
    }
    .turntable-decorate-wrap {
        margin-top: rem(-300, 24);
    }
    .turntable-start-btn {
        margin: rem(-115, 24) auto 0;
    }
}